    .col-md-4 {
        width: 70%;
    }
    
    .col-md-8 {
        width: 100%;
    }
    
    h1 {
        text-align-last: center;
        font-size: 50px;
        margin-left: 8%;
        padding-top: 1%;
        padding-bottom: 1%;
    }
    
    .row {
        width: 100%;
        padding-left: 30%;
        margin-bottom: 30px;
    }
    
    .card {
        padding: 20px;
        margin: 20px;
        width: 25%;
    }
    
    .img-fluid {
        width: 80%;
        height: 80%;
        padding-left: 20%;
    }
    
    #boton-regresar {
        margin-left: 1%;
        margin-bottom: 5%;
        margin-top: 3%;
    }
    
    #boton-comprar {
        margin-left: 45%;
        margin-top: 3%;
        margin-bottom: 3%;
    }
    
    #carrito {
        margin-left: 41%;
        margin-top: 3%;
    }