<!-- ============================= -->
<!--             FOOTER            -->
<!-- ============================= -->
<div class="card text-center bg-dark text-light">
    <div class="card-header text-info" id="inicio-footer">
        FitnessClub
    </div>
    <div class="card-body">
        <h5 class="card-title">¡Esto te va a encantar!</h5>
        <p class="card-text">Tenemos una promo especial <i class="bi bi-arrow-right text-info"></i> exclusivamente para vos.</p>
        <a href="#" class="btn btn-primary">Quiero verlo</a>
    </div>
    <div class="card-footer text-muted">
        ©Milenio 3
    </div>
</div>