<!-- ::: NOSOTROS ::: -->
<section class="mx-auto text-center pb-5">
    <div class="p-4">
        <h2>
            <span class="span4">Gimnasio.</span>
        </h2>
    </div>

    <i class="bi bi-balloon-heart text-warning fs-2"></i>
    <div class="container-fluid d-flex w-50">
        <div class="d-flex p-2 m-2 fw-bold">Somos un grupo interdisciplinario con apego a la filosofía de salud y bienestar. Nos entregamos con profesionalismo al logro de los objetivos. </div>
        <div class="d-flex p-2 m-2 fw-bold">Tenemos un compromiso social bajo normas éticas enmarcadas en el respeto a la dignidad humana y los derechos individuales.</div>
    </div>
    <i class="bi bi-clipboard2-data text-info fs-2"></i>

    <div class="w-75 mx-auto d-md-none mt-2">
        <h2>Nos formamos en ética y moral.</h2>
    </div>

    <div class="w-50 mx-auto">
        <div class="p-4">
            <p class="mt-4 fs-3 text-secondary">Una propuesta para adquirir<span class="fw-bold"> todas las fortalezas</span></p>
        </div>

        <p class="p-4 fs-4" id="intro">Creemos en el principio de igualdad social<br>por eso garantizamos nuestro trabajo impulsando una<br><span class="fw-bold">sociedad que respete las diferencias individuales</span></p>
    </div>
</section>